<script src="https://unpkg.com/htmx.org@1.9.10" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>

<style>
  .container {
    display: flex;
    flex-direction: column;
  }

  .counter-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
  }

  .leftpad {
    margin-left: 1em;
  }

  .counter-item {
    margin-left: 2em;
  }
  
  .error {
    background: rgb(214, 133, 133);
  }
</style>
<title>HTMX Test Site | {{title}}</title>