<!DOCTYPE html>
<html>
  <head>
    {% include "partials/head.html" %}
  </head>

  <body>
    <div class="container">
      <h1>Crazy Counters with Axum/HTMX/Turso</h1>

      {% include "partials/add_button.html" %}

      {% for counter in counters %}
        {% let id = counter.id %}
        {% let value = counter.value %}
        
        {% include "partials/counter/counter.html" %}
      {% endfor %}

      <h2>Counter summary</h2>
      {% include "partials/counter/counter_summary.html" %}
    </div>
  </body>

</html>
